@import './base.css';
@import 'primeicons/primeicons.css';

/*.app {
  place-items: center;
  display: flex;

}*/

a,
.green {
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
    color: rgb(255, 255, 255);
  }
}

.my-btn-root {
  cursor: none;
}

.my-btn-label {
  color: rgb(172, 212, 28);
}

.my-btn-icon {
  color: rgb(172, 212, 218);
}
